# SPDX-FileCopyrightText: Copyright (c) 2025 Broadsage <opensource@broadsage.com>
#
# SPDX-License-Identifier: Apache-2.0
---
# tasks file for roles/compliance

- name: Create scripts directory in project
  ansible.builtin.file:
    path: "/tmp/scripts"
    state: directory
    owner: "abc"
    group: "abc"
    mode: "0755"
  when: features.compliance | bool

- name: Copy compliance.py script for compliance checks
  template:
    src: "compliance.py.j2"
    dest: "/tmp/scripts/compliance.py"
    owner: "abc"
    group: "abc"
    mode: "0755"
  when: features.compliance | bool

- name: Copy .conform.yaml (commit message validation)
  template:
    src: ".conform.yaml.j2"
    dest: "/tmp/.conform.yaml"
    owner: "abc"
    group: "abc"
    mode: "0644"
  when: compliance.conform | bool

- name: Copy .mega-linter.yaml (code quality linting)
  template:
    src: ".mega-linter.yaml.j2"
    dest: "/tmp/.mega-linter.yaml"
    owner: "abc"
    group: "abc"
    mode: "0644"
  when: compliance.megalinter | bool

- name: Copy REUSE.toml (license compliance)
  template:
    src: "REUSE.toml.j2"
    dest: "/tmp/REUSE.toml"
    owner: "abc"
    group: "abc"
    mode: "0644"
  when: compliance.reuse | bool
