# SPDX-FileCopyrightText: Copyright (c) 2025 Broadsage <opensource@broadsage.com>
#
# SPDX-License-Identifier: Apache-2.0
---
# tasks file for repository

- name: Copy .gitignore template to project root
  template:
    src: "{{ item }}.j2"
    dest: "/tmp/{{ item }}"
    owner: "abc"
    group: "abc"
    mode: '0644'
  loop:
    - .gitignore