# SPDX-FileCopyrightText: Copyright (c) 2025 Broadsage <opensource@broadsage.com>
#
# SPDX-License-Identifier: Apache-2.0
---
# tasks file for github
# Orchestrates both setup and cleanup tasks

- name: Include GitHub setup tasks
  ansible.builtin.include_tasks: setup.yml

- name: Include GitHub cleanup tasks
  ansible.builtin.include_tasks: cleanup.yml
