# SPDX-FileCopyrightText: Copyright (c) 2025 Broadsage <opensource@broadsage.com>
#
# SPDX-License-Identifier: Apache-2.0
---
# tasks file for github

# Uses variables directly from merged_config.yml

- name: Create .github/ISSUE_TEMPLATE directory
  ansible.builtin.file:
    path: "/tmp/{{ item }}"
    state: directory
    owner: "abc"
    group: "abc"
    mode: "0755"
  when: github.issues | bool
  loop:
    - .github/ISSUE_TEMPLATE

- name: Create .github/workflows directory
  ansible.builtin.file:
    path: "/tmp/{{ item }}"
    state: directory
    owner: "abc"
    group: "abc"
    mode: "0755"
  when: github.workflows | bool
  loop:
    - .github/workflows

- name: Populate GitHub Issue templates
  ansible.builtin.template:
    src: "ISSUE_TEMPLATE/{{ item }}.j2"
    dest: "/tmp/.github/ISSUE_TEMPLATE/{{ item }}"
    owner: "abc"
    group: "abc"
    mode: "0644"
  when: github.issues | bool
  loop:
    - config.yaml
    - bug-report.yaml
    - documentation.yaml
    - feature-request.yaml
    - question.yaml

- name: Create .github/DISCUSSION_TEMPLATE directory
  ansible.builtin.file:
    path: "/tmp/{{ item }}"
    state: directory
    owner: "abc"
    group: "abc"
    mode: "0755"
  when: github.discussions | bool
  loop:
    - .github/DISCUSSION_TEMPLATE

- name: Populate GitHub discussion templates
  ansible.builtin.template:
    src: "DISCUSSION_TEMPLATE/{{ item }}.j2"
    dest: "/tmp/.github/DISCUSSION_TEMPLATE/{{ item }}"
    owner: "abc"
    group: "abc"
    mode: "0644"
  when: github.discussions | bool
  loop:
    - ideas.yaml
    - polls.yaml
    - show-and-tell.yaml
    - announcements.yaml
    - README.md

- name: Populate GitHub Pull Request templates
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/tmp/.github/{{ item }}"
    owner: "abc"
    group: "abc"
    mode: "0644"
  when: github.pull_requests | bool
  loop:
    - PULL_REQUEST_TEMPLATE.md

- name: Populate Renovate configuration
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/tmp/{{ item }}"
    owner: "abc"
    group: "abc"
    mode: "0644"
  when: github.renovate | bool
  loop:
    - renovate.json
